<div id="polling-data"
     hx-get="{{ path('app_dashboards_webServices_data') }}"
     hx-trigger="every 5s"
     hx-target="#polling-data"
     hx-swap="outerHTML">

    <div class="row w-100">
        {% for origin, item in dashboardData %}
            <div class="col-md-3 equal-height-col">
                <h5 class="text-center">{{ origin|capitalize }}</h5>
                {% for action, count in item %}
                    <div class="content">
                        <div class="fs-6">{{ action|capitalize }}</div>
                        <div class="fs-1">{{ count }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>